@font-face {
  font-family: 'Storm Gust';
  src:
    url('/fonts/storm_gust/Storm%20Gust.otf') format('opentype'),
    url('/fonts/storm_gust/Storm%20Gust.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}